* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 128, 128);
}

.flex { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    font-size: 2rem;
    

}

.upscale {
    animation: countdown 1s;
    animation-iteration-count: infinite;
}

.opacity {
    opacity: 0;
}

.new-year {
    animation: new-year 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: white;
    -webkit-text-stroke: -2px;
    -webkit-text-stroke-color: black;
}

.bg-newyear {
    background-image: url(../img/fireworks.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes countdown {
    0% {transform: scale(100%);
        opacity: 100;}
    75% {transform: scale(400%);
        opacity: 100;}
    100% {opacity: 0;}
}

@keyframes new-year {
    from {transform: scale(300%);}
    to {transform: scale(400%);}
}